.app {
  width: 100%;
  display: flex;
  align-items: center;
}
.main {
  height: 100vh;
  width: 80%;
  overflow-y: auto;
}
.sideBar {
  text-align: left;
  font-size: 2.5rem;
  font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  width: 20%;
  height: 100vh;
  background-color: #245474;
  border-right: 2px solid hsl(42, 54%, 57%);
  box-shadow: 0 0 5px #8e8e8e;
  padding: 1rem;
  position: relative;
}
.headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebarLists {
  transition: height 0.5s;
}
.zakoniExpanded {
  height: 20%;
  overflow-y: auto;
}
.zakoniCollapsed {
  height: 0;
  overflow-y: hidden;
}
.presudeExpanded {
  height: 40%;
  overflow-y: auto;
}
.presudeCollapsed {
  height: 0;
  overflow-y: hidden;
}
.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideBar img {
  width: 60px;
  align-self: center;
  margin-bottom: 30px;
}

.sideBar h3 {
  font-size: 1.5rem;
  color: #5cb4dd;
  display: block;
  margin-bottom: 5px;
}
.sideBar h3:hover {
  cursor: pointer;
}
.sideBar .noviSlucajHeading {
  font-size: 1.5rem;
  color: #5cb4dd;
  display: block;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sideBar .noviSlucajHeading:hover {
  color: hsl(42, 61%, 60%);
}

.sideBar .noviSlucajHeading:hover svg {
  fill: hsl(42, 61%, 60%);
}

.line {
  width: 100%;
  border: 1.5px solid hsl(42, 54%, 57%);
  margin: 10px 0px;
}

.link {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.8rem;
  font-size: 1rem;
}
.link:hover {
  color: hsl(42, 61%, 60%);
}
.link::before {
  content: " - ";
}

.sideBar .arrowTop {
  height: 20px;
  width: 20px;
  margin: 0;
  transition: rotate 0.5s;
  rotate: 180deg;
}

.sideBar .arrowTop:hover {
  cursor: pointer;
}

.sideBar .rotateArrowTop {
  rotate: 0deg;
}
